    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Brand</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Mens Collection</a></li>
                  <li><a class="dropdown-item" href="#">Womens Collection</a></li>
                  <li><a class="dropdown-item" href="#">Kids Collection</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Coming Soon!</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/contact-us" routerLinkActive="active" >Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">About Us</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-outline-success" type="submit" routerLink="/signup" routerLinkActive="active" style="margin-right: 20px;" >Sign Up</button>
            </form>
            <form class="d-flex">
              <button class="btn btn-outline-success" type="submit" routerLink="/login" routerLinkActive="active">Login</button>
            </form>
          </div>
        </div>
      </nav>